body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.navitems {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navitems li {
  color: #fff;
  cursor: pointer;
}
.navitems li:hover {
  color: #1e90ff;
}
.search {
  display: flex;
  gap: 5px;
}
.search input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.search button {
  padding: 10px;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.search button:hover {
  background-color: #4682b4;
}
.cardContainer {
  display: grid;
  gap: 20px;
  width: 80%;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card h3 {
  padding: 10px;
  font-size: 1.5rem;
  color: #333;
}
.card p {
  padding: 10px;
  color: #666;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  
  width: 100%;
  bottom: 0;
}
@media (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  .navitems {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
